click==8.0.1
colorama==0.4.4
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
SQLAlchemy==1.4.25
Werkzeug==2.0.2
tensorflow==2.6.0
keras==2.6.0
opencv==4.5.3
torch==1.9.1                  
torchvision==0.10.1
keras-vggface==0.6
facenet-pytorch==2.5.2