{% extends 'base.html' %}
{% block title %}user Image Testing{% endblock %}


{% block header %}
{%  endblock %}


{% block main %}
<main id="main">
    <div class="camera">
        <form id="postImage" action="/test-image" method="POST">
            <input id="imageInput" type="text" name="image" style="display: none" value="">
            <div class="controls">
                <button type="submit" id="capture"><i class="btn fas fa-camera" onclick="(e) => e.preventDefault()"></i></button>
                <button onclick="(e) => e.preventDefault()" id="stop"><i class="btn fas fa-video-slash"></i></button>
            </div>
        </form>
        <video autoplay="true" id="videoElement"></video>
        <canvas style="display: none;" id="canvas" width="320" height="240"></canvas>
    </div>
</main>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}
